<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-offset-4">
      <div class="formone">
        <div class="text-center">
          <h2>Créez votre annonce</h2>
        </div>
        <%= simple_form_for @foodtruck do |f| %>
        <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.input :image %>

        <%= f.input :category, collection: Foodtruck::CATEGORIES, selected: Foodtruck::CATEGORIES.first %>
        <%= f.submit "Créer", class: "btn btn-primary" %>
        <% end %>
        <hr>
        <h4>
          <%= link_to '< Retour', :back %>
        </h4>
      </div>
    </div>
  </div>
</div>
