<div class="text-center">
  <h1>Hello, we are <%= @foodtruck.name.capitalize %></h1>
  <h3>Nous sommes les spécialistes du <%= @foodtruck.category.upcase %></h3>
  <%= cl_image_tag @foodtruck.image, width:"80%" %>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-offset-3">
      <div class="text-center">
      <h4>Réservez votre foodtruck <%= @foodtruck.name %></h4>
      </div>
      <%= simple_form_for [@foodtruck, @reservation] do |f| %>
      <%= f.error_notification %>
      <%= f.input :date %>
      <%= f.input :price %>
      <%= f.input :comment %>
      <%= f.submit "Créer", class: "btn btn-primary" %>
      <% end %>
      <hr>
      <h4>
        <%= link_to '< Retour', :back %>
      </h4>
    </div>
  </diV>
</div>





